# Python Basic

In [1]:
# Python Basic

print('Amruta')

Amruta

In [3]:
print('Amruta')

Amruta

In [4]:
# print() <-print is keyword to display your text.

In [5]:
print('My name is Amruta.')

My name is Amruta.

In [6]:
print("Hello world")

Hello world

In [8]:
# How to check your python which is?

import sys    # system related files imported here

print(sys.version)   # it is a command to check python version.

3.12.2 (tags/v3.12.2:6abddd9, Feb  6 2024, 21:26:36) [MSC v.1937 64 bit (AMD64)]

In [10]:
print('Hello world')

# ''  <- single quotes
# ""  <- double quotes.

Hello world

In [9]:
print("Hello world")

Hello world

In [11]:
print(Hello world)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3449611317.py, line 1)

In [13]:
# comment <- it is a comment line. [comment line is not readable by server. It can only read by user.]
print('Hello world')

Hello world

In [1]:
# string -> collection of alphabet.

print('Hello world')

Hello world

In [2]:
print('Apple')

Apple

In [3]:
print('Boy')

Boy

In [5]:
print('a')

a

In [9]:
# some data types 
# Integer  # without the decimal is called integer
print(100)
print(200)
print(3)


# float  # decimal included value is called float
print(3.14) 
print(3.0)  # 3

# Boolean
print(True)   # which value is equal to 1
print(False)

100
200
3
3.14
3.0
True

In [12]:
print('true')   # 
print(True)    #  its value is 1.

true
True

In [15]:
# type() function
print(True)
print(type(True))
print('True')
print(type('True'))

True
<class 'bool'>
True
<class 'str'>

In [17]:
print(100)
print(type(100))
print('100')
print(type('100'))

100
<class 'int'>
100
<class 'str'>

In [18]:
print(100+100)

200

In [19]:
print('100'+'100')

100100

In [20]:
print(True+10)   #

11

In [22]:
print('True'+'10')  #

True10

In [23]:
print(False+10)

10

In [26]:
print(-False-10)

-10

In [30]:
print(bool(1))
print(bool(0))

True
False

In [31]:
# Data typecasting.

num =  6    #(= is assignment operator)
print(num)

6

In [32]:
number= 6
print(number)

6

In [33]:
x1=6
print(x1)

6

In [39]:
num=6
print(num)
print(type(num))

# change the data integer to str
str1=str(num)
print(str1)
print(type(str1))

# change to int ot float

float1=float(num)
print(float1)
print(type(float1))

6
<class 'int'>
6
<class 'str'>
6.0
<class 'float'>

In [42]:
number=3.6   # str,int

str1=str(number)
print(str1)
print(type(str1))

# integer
int_1=int(number)
print(int_1)
print(type(int_1))

3.6
<class 'str'>
3
<class 'int'>

In [47]:
# 
bool1=True   # int,str,float

int1=int(bool1)
print(int1)
print(type(int1))


str1=str(bool1)
print(str1)
print(type(str1))

float1=float(bool1)
print(float1)
print(type(float1))

1
<class 'int'>
True
<class 'str'>
1.0
<class 'float'>

In [52]:
bool2=False    # int,str,float

str1=str(False)
print(str1)
print(type(str1))

int1=int(bool2)
print(int1)
print(type(int1))

float2=float(bool2)
print(float2)
print(type(float2))

False
<class 'str'>
0
<class 'int'>
0.0
<class 'float'>

In [1]:
# total data types in python
# 1. Number 
    # 1. Integer
    #2. float
    # 3. Complext Number
# 2. Dictionary
# 3. Sets
# 4. Boolean
# 5. Sequences Data types in Python
  # 1. String
 # 2. tuple
 # 3. List Data types

In [2]:
# Operators 

# Addition

x=45
y=100
z=x+y    # +
print('Addition:',z)

Addition: 145

In [3]:
# Substraction

x=45
y=100
z=x-y
print('Substraction:',z)

Substraction: -55

In [4]:
# Multiplication

x=45
y=100
z=x*y
print('Multiplication',z)

Multiplication 4500

In [6]:
# division

x=450
y=51
z=x/y   # float division
print('Divisoion:',z)

Divisoion 8.823529411764707

In [7]:
# 
x=450
y=51
z=x//y   # int Division
print('Division:',z)

Division 8

In [9]:
# Modulus

# It return the value of remainder.

x=2
y=2
z= x%y
print("Modulus Value is:",z)

Modulus Value is: 0

In [10]:
# Modulus

# It return the value of remainder.

x=3
y=2
z= x%y
print("Modulus Value is:",z)

Modulus Value is: 1

In [11]:
# Exponent: base and power(Exponent)

x= 2
y = 3

z= x**y   # 2^3 = 2x2x2=8
print('Exponent will be:',z)

Exponent will be 8

In [14]:
#  An Example: Let's calculate how many minutes are there in 20 hours?  # 1200

one_hours= 60    # 60 mint
hours= 20     # a/q
minutes= one_hours*hours
print(minutes,'minutes')
print(type(minutes))

1200 minutes
<class 'int'>

In [15]:
# An Example: Let's calcualte how many hours are there in 548 minutes.?

given_minutes=548
hour=60
numberofhours=given_minutes/hour
print(numberofhours, "hours")
print(int(numberofhours), "hours")

9.133333333333333 hours
9 hours

In [26]:
# How to calculate mathematical expression in python

x=45+3*89
y= (45+3)*89

print('Value of x:',x)
print('Value of y:',y)

print('Addition of x and y:',x+y)
print('Substraction of x and y:',x-y)
print('Multiplication of x and y:',x*y)
print('Division of x and y:',x/y)
print('Division of x and y:',x//y)
print('Modulus of x and y:',x%y)
print('Exponent of x and y:',x**y)

Value of x: 312
Value of y: 4272
Addition of x and y: 4584
Substraction of x and y: -3960
Multiplication of x and y: 1332864
Division of x and y: 0.07303370786516854
Division of x and y: 0
Modulus of x and y: 312
Exponent of x and y:

ValueError: Exceeds the limit (4300 digits) for integer string conversion; use sys.set_int_max_str_digits() to increase the limit

In [27]:
# Variable: 
number = 90
print(number)

90

In [28]:
print(type(number))

<class 'int'>

In [32]:
# 
x= 25
y = 87
z= 5*x-2*y
print(z)

t= z/7
print(t)

z=z/14
print(z)

-49
-7.0
-3.5

In [33]:
# Variable
x,y,z=8,4,2
print(x)
print(y)
print(z)

8
4
2