# 3. Lists in Python

 * __Lists are ordered data types in pyhton.__
 * __Lists can contain any arbitrary objects.__
 * __List elements can be accessed by index value.__
 * __It also has two types of index value (Positive and Negative).__
 * __Lists can be nested to any arbitrary depth.__
 * __Lists are mutable.(Changable or modification is performed inside the list)__
 * __Lists are dynamic.__

In [3]:
# how to creating a list. empty list

list1=[]
print(list1)
print(type(list1))

[]
<class 'list'>

In [5]:
list1=['Python',25,2024,3.14]
print(list1)
print(type(list1))

['Python', 25, 2024, 3.14]
<class 'list'>

In [11]:
# Accessing positive index value.

print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
# print(list1[4])

Python
25
2024
3.14

In [17]:
# Negative indexing.

print(list1[-1])
print(list1[-2])
print(list1[-3])
print(list1[-4])
# print(list1[-5])

3.14
2024
25
Python

In [23]:
print(list1)
print(type(list1[0]))
print(type(list1[1]))
print(type(list1[2]))
print(type(list1[3]))

['Python', 25, 2024, 3.14]
<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>

In [29]:
print(list1)
print(list1[0][1])

['Python', 25, 2024, 3.14]
y

In [31]:
print(list1[1][0])

TypeError: 'int' object is not subscriptable

# What can content a list?

 * __Strings__
 * __Floats__
 * __Integer__
 * __Boolean__
 * __Nested List__
 * __Nested Tuple__
 * __Nested Dictionary__
 * __Nested Sets__
 * __and Other data sturcture.__

In [32]:
list1=['Hello world',3.147,2024,True,False,['Hey Python',147],('Hello world',145),{'a':145,'b':145},{1,2,5,65,5,5,}]
list1

['Hello world',
 3.147,
 2024,
 True,
 False,
 ['Hey Python', 147],
 ('Hello world', 145),
 {'a': 145, 'b': 145},
 {1, 2, 5, 65}]

In [33]:
print(list1)

['Hello world', 3.147, 2024, True, False, ['Hey Python', 147], ('Hello world', 145), {'a': 145, 'b': 145}, {65, 2, 5, 1}]

In [44]:
print(type(list1[0]))
print(type(list1[1]))
print(type(list1[2]))
print(type(list1[3]))
print(type(list1[4]))
print(type(list1[5]))
print(type(list1[6]))
print(type(list1[7]))
print(type(list1[8]))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [1]:
# Here is i.e CRUD operation will be performed inside the list.
# C-> Creating, R- Reading the list, U-> Updating the list D-> Deleting the list.

list1=["Hello Amruta","Hello world",10,20,25.23,True,False]
list1

['Hello Amruta', 'Hello world', 10, 20, 25.23, True, False]

In [2]:
type(list1)

list

In [3]:
type(list1[0])

str

In [4]:
# How to add new element inside the list: 1.append() method 2. Extend() metbod 3. insert() method. 

# append() 
# You can only one element add at one time with the help append method().

list1

['Hello Amruta', 'Hello world', 10, 20, 25.23, True, False]

In [5]:
# append

list1.append('Pune')
list1

['Hello Amruta', 'Hello world', 10, 20, 25.23, True, False, 'Pune']

In [6]:
# 
list1.append('Lucknow',"Bangalore")
list1

TypeError: list.append() takes exactly one argument (2 given)

In [7]:
# Extend() method
# Extend() method: You can add multiple element inside the list with the help of extend() method

list2=['Hello world']
list2

['Hello world']

In [8]:
list2.extend(["Hello Amruta",24,True,False])
list2

['Hello world', 'Hello Amruta', 24, True, False]

In [9]:
# insert() method : it takes two parameter at one time. first parameter is your index vvalue and other parameter is value.

list2

['Hello world', 'Hello Amruta', 24, True, False]

In [10]:
list2.insert(0,'Python')
list2

['Python', 'Hello world', 'Hello Amruta', 24, True, False]

In [11]:
list2

['Python', 'Hello world', 'Hello Amruta', 24, True, False]

In [13]:
# juturu

# updating the list

list2[2]='Amruta Juturu'
list2

['Python', 'Hello world', 'Amruta Juturu', 24, True, False]

In [14]:
#
list2[3]="Sharma"
list2

['Python', 'Hello world', 'Amruta Juturu', 'Sharma', True, False]

In [15]:
# how to delete the value inside the list

list2

['Python', 'Hello world', 'Amruta Juturu', 'Sharma', True, False]

In [16]:
# 
list2[-1]

False

In [17]:
# del() method
del(list2[-1])

In [18]:
list2

['Python', 'Hello world', 'Amruta Juturu', 'Sharma', True]

In [20]:
del(list2[4])
list2

['Python', 'Hello world', 'Amruta Juturu', 'Sharma']

In [21]:
# how to copy the list.

# 1. deep copy 2. sallow copy.
list2

['Python', 'Hello world', 'Amruta Juturu', 'Sharma']

In [23]:
x1=list2   # Deep copy
print(x1)

# append mehto

x1.append('Cow')
print(x1)

['Python', 'Hello world', 'Amruta Juturu', 'Sharma']
['Python', 'Hello world', 'Amruta Juturu', 'Sharma', 'Cow']

In [24]:
list2

['Python', 'Hello world', 'Amruta Juturu', 'Sharma', 'Cow']

In [26]:
# shallow  # copy() function

x2=list2.copy()
print(x2)

x2.append(1000)

print(x2)

['Python', 'Hello world', 'Amruta Juturu', 'Sharma', 'Cow']
['Python', 'Hello world', 'Amruta Juturu', 'Sharma', 'Cow', 1000]

In [27]:
list2

['Python', 'Hello world', 'Amruta Juturu', 'Sharma', 'Cow']

In [30]:
# concatenation the list

a_list=['a','b',['c','d'],'e',True]

b_list=[1,2,3,4,5,6,True,False,'e']

new_list=a_list+b_list
print(new_list)

['a', 'b', ['c', 'd'], 'e', True, 1, 2, 3, 4, 5, 6, True, False, 'e']

# input() function 

 * __With the help of input function you are able to take input from the user.__
 * __input() function in python provides a user to a program supply inputs to the program at runtime.__

In [38]:
x=int(input('Enter any value'))
print(x)
print(type(x))

Enter any value hello

ValueError: invalid literal for int() with base 10: 'hello'

In [37]:
x=input('Enter any value')
print(x)
print(type(x))

Enter any value 10

10
<class 'str'>

# eval() functions.
 * __This function serves the aim of converting a string to an integer or a float.__

In [43]:
x='100'
print(x,type(x))

y=eval(x)
print(y,type(y))

100 <class 'str'>
100 <class 'int'>

# format() function

 * __This function helps to format the outpur printed on the screen with good look and attractive.__

In [46]:
a=float(input('Enter any value:'))
b=float(input('Enter second value:'))

total=a+b
print('Total value is:',total)
print('Sum of two values {} and {} is {}'.format(a,b,total))

Enter any value: 45
Enter second value: 63

Total value is: 108.0
Sum of two values 45.0 and 63.0 is 108.0

In [45]:
# format function
print('Sum of two values {} and {} is {}'.format(a,b,total))

Sum of two values 10.0 and 20.0 is 30.0

# Comaprison operator:
 * __The operators such <,>,<=,>=,==,!= compare the certain two operands and return True or False.__

In [52]:
a=3.14
b= 1.618

print('a>b is:',a>b)   # True
print('a<b is:',a<b)  # False
print('a>=b:',a>=b)    # or operator  =True
print('a<=b:',a<=b)    # both condition are false then it return False
print('a==b:',a==b)   # False
print('a!=b:',a!=b)

a>b is: True
a<b is: False
a>=b: True
a<=b: False
a==b: False
a!=b: True

In [57]:
# Logical Operator are only Three (and,or,not)


a=3.14
b=1.618
c=12
d=3.14

print(a>b and c>a)  # if both statement is true then it returns true
print(a>c and c<a)  #
print(c>a and d>a)  

print(a==b and a!=c)
print(a==d and c>b)

True
False
False
False
True

In [63]:
# or operator
a=3.14
b=1.618
c=12
d=3.14

print(a>b or b>c)
print(b>c or c>a)
print(d>c or b<a) 
print(d>a or d<c)

print(b>c or c<d)

True
True
True
True
False

In [67]:
# not operator
a=3.14
b=1.618
c=12
d=3.14
print(a!=d)
print(not(a!=d))
print(not(a==5))
print(not(True))

False
True
True
False

# Assignment Operator

 * __The operator including =,+=,-=,/=,%=,*/,**/ etc__

In [69]:
a=5

a+=10   #first 5+10=15
a

15

In [70]:
a=5

a-=5 # 5-5=0
a

0

In [71]:
a=5

a/=15
a

0.3333333333333333

In [72]:
a=5

a%=3  #

a

2

In [73]:
a=5

a*=5
a

25

In [74]:
# exponenetial

a=3

a**=2   # 3*3=9
a

9

# Membership operators

 * __These operator including in and not in are empoloyed to check if the certain value is available in the sequence of values and return True or False.__

In [81]:
nlis=['Hello Amruta',45,'Hello',5]

print(5 in nlis) 
print(5 not in nlis)
print('hello' in nlis)
print('Hello' in nlis)
print(45 not in nlis)

True
False
False
True
False