# 4. Tuples in Python

 * __Tuples are immutable list and connot be changed in any way if once is it created.__
 * __Tuples are defined in the same way as lists.__
 * __They are enclosed with parenthesis () and not within square braces. []__
 * __Tuples are ordered, indexed collections of data.__
 * __Similary to string indices, the first value is [0] and the second value is [1].__
 * __Negative indices are counted from the end of the tuple, just like list.__
 * __Tuple also has the same structure where commas separated the values.__
 * __Tuples allow you to store several data items including string, integer, float in one variable.__

In [3]:
x=[1]
print(x)
print(type(x))

[1]
<class 'list'>

In [7]:
tuple1=(1,)
print(tuple1)
print(type(tuple1))

(1,)
<class 'tuple'>

In [10]:
tuple_1=('Hello world','Python',100,200,3.14,True,False,[1,2,3],('Hello World','True','False'),4800)
print(tuple_1)
print(type(tuple_1))

('Hello world', 'Python', 100, 200, 3.14, True, False, [1, 2, 3], ('Hello World', 'True', 'False'), 4800)
<class 'tuple'>

In [24]:
# Accessing element of tuple with their index value.

print(tuple_1[0])
print(type(tuple_1[0]))

print(tuple_1[1])
print(type(tuple_1[1]))

print(tuple_1[2])
print(type(tuple_1[2]))

print(tuple_1[3])
print(type(tuple_1[3]))

print(tuple_1[4])
print(type(tuple_1[4]))


print(tuple_1[5])
print(type(tuple_1[5]))


print(tuple_1[6])
print(type(tuple_1[6]))

print(tuple_1[7])
print(type(tuple_1[7]))


print(tuple_1[8])
print(type(tuple_1[8]))

print(tuple_1[9])
print(type(tuple_1[9]))
print(tuple_1)

Hello world
<class 'str'>
Python
<class 'str'>
100
<class 'int'>
200
<class 'int'>
3.14
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
[1, 2, 3]
<class 'list'>
('Hello World', 'True', 'False')
<class 'tuple'>
4800
<class 'int'>
('Hello world', 'Python', 100, 200, 3.14, True, False, [1, 2, 3], ('Hello World', 'True', 'False'), 4800)

In [25]:
# Accessing element with negative index value
print(tuple_1[-1])

4800

In [29]:
# Concatenation of tuples
# To concatenate tuples + sign is used.

tuple_2=tuple_1+('Hello world',45,89,789,('Amruta',4500))
print(tuple_2)

('Hello world', 'Python', 100, 200, 3.14, True, False, [1, 2, 3], ('Hello World', 'True', 'False'), 4800, 'Hello world', 45, 89, 789, ('Amruta', 4500))

In [37]:
tuple_2[7][2]

3

In [31]:
# Repetation of tuple

rep_tup=(1,2,3,4)

rep_tup*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

# Membership value

In [42]:
rep_tup=(1,2,3,4)

print(2 in rep_tup)
print(3 in rep_tup)
print(100 in rep_tup)
print(120 not in rep_tup)

True
True
False
True

In [43]:
tuple_2

('Hello world',
 'Python',
 100,
 200,
 3.14,
 True,
 False,
 [1, 2, 3],
 ('Hello World', 'True', 'False'),
 4800,
 'Hello world',
 45,
 89,
 789,
 ('Amruta', 4500))

In [44]:
len(tuple_2)

15

In [50]:
# Sorting tuple  : ascending -> descending the data.

tuple_3=(0,9,2,5,6,30,40,45,78,45,)
sorted_tuple_3=sorted(tuple_3)
print(sorted_tuple_3)
print(type(tuple_3))
print(type(sorted_tuple_3))

[0, 2, 5, 6, 9, 30, 40, 45, 45, 78]
<class 'tuple'>
<class 'list'>

In [51]:
# Tuple are immutable data type of list

list1=['Hello Amruta',10,20]
list1

['Hello Amruta', 10, 20]

In [52]:
list1[0]='Amruta Juturu'
list1

['Amruta Juturu', 10, 20]

In [54]:
tuple1=('Hello Amruta',10,20)
print(tuple1)

('Hello Amruta', 10, 20)

In [56]:
tuple1[0]='Amruta Juture'
tuple1

TypeError: 'tuple' object does not support item assignment

In [57]:
# deleting their element inside the tuple

tuple1=('Hello Amruta',10,20)
del(tuple1[0])

TypeError: 'tuple' object doesn't support item deletion

In [58]:
# but you can delete the whole tuple: 

tuple1

('Hello Amruta', 10, 20)

In [59]:
del(tuple1)

In [60]:
tuple1

NameError: name 'tuple1' is not defined