# 5. Sets in Python

 * __Set is one of 4 build-in data types in Python used to store collections of data including List, Tuple and Dictionary.__
 * __Sets are unordered, but you can remove items and add new items.__
 * __Set elements are unique. Duplicate elements are not allowed.__
 * __A set itself may be modified, but the element contained in the set must be an immutable type.__
 * __Sets are used to store multiple items in a single variable.__
 * __You can denote a set with a pair of curly brackets {}.__

In [6]:
# creating empty 
x={}
print(x)
print(type(x))

{}
<class 'dict'>

In [7]:
# creating empty set

x1=set()
print(x1)
print(type(x1))

set()
<class 'set'>

In [9]:
# Take a set
set1={'Hello Python',15,20,40,78,5,19,True,False,2024}
print(set1)
print(type(set1))

{False, True, 5, 40, 2024, 78, 15, 19, 20, 'Hello Python'}
<class 'set'>

In [10]:
set1[0]

TypeError: 'set' object is not subscriptable

# Converting list to the set.

In [11]:
# A list can converted to a set

nlis=['Hello Python',3.14,3.14,1.618,1.618,10,10,10,10,20,20,20,20,20]

set2=set(nlis)
print(set2)

{1.618, 3.14, 10, 20, 'Hello Python'}

In [12]:
list1=list(set2)
print(list1)

[1.618, 3.14, 10, 20, 'Hello Python']

In [13]:
set2

{1.618, 10, 20, 3.14, 'Hello Python'}

In [14]:
# Add() function: To add an element into a set, we use the function add(). If the same element is added to the set, 
# nothing will happen beacuase the set accespts no duplicate.

set3=set(['Hello Python',3.14,3.14,1.618,1.618,10,10,10,10,20,20,20,20,20])
set3

{1.618, 10, 20, 3.14, 'Hello Python'}

In [15]:
set3.add('Amruta Juturu')
set3

{1.618, 10, 20, 3.14, 'Amruta Juturu', 'Hello Python'}

In [16]:
# Updating the set.

x_set={6,7,8,9}
print(x_set)
x_set.update({7,8,9,10})
x_set

{8, 9, 6, 7}

{6, 7, 8, 9, 10}

In [17]:
# remove() function

# To remove an element from the set.
set3

{1.618, 10, 20, 3.14, 'Amruta Juturu', 'Hello Python'}

In [18]:
set3.remove('Hello Python')
set3

{1.618, 10, 20, 3.14, 'Amruta Juturu'}

In [19]:
set3.remove('Hello Python')
set3

KeyError: 'Hello Python'

In [20]:
# discard () function
# It leaves the set unchanged if the element to be deleted if element is not present inside the set it doen't through an error.

set3

{1.618, 10, 20, 3.14, 'Amruta Juturu'}

In [21]:
set3.discard(10)
set3

{1.618, 20, 3.14, 'Amruta Juturu'}

In [22]:
set3.discard(10)
set3

{1.618, 20, 3.14, 'Amruta Juturu'}

# Logic operations in Set

 * __1. Union__
 * __2. Intersection__
 * __3. Difference (a-b),(b-a)__
 * __4. Symmetric Difference__

In [23]:
# 1. union inside the two sets.
set4={2,4,6,8}
set5={6,8,10,12,14}

set4.union(set5)

{2, 4, 6, 8, 10, 12, 14}

In [25]:
# Intersection: it returns the duplicate value from two sets.
set4={2,4,6,8}
set5={6,8,10,12,14}

set4.intersection(set5)

{6, 8}

In [27]:
# Difference

set_4={'a','b','c','d'}   # a
set_5={'c','d','e','f','g','h','i'}   #b


# a-b
print(set_4-set_5)
# b-a
print(set_5-set_4)

{'b', 'a'}
{'i', 'h', 'f', 'g', 'e'}

In [30]:
# anohter method to print same element 

print(set_4.difference(set_5))  # a-b
print(set_5.difference(set_4))  # b-a

{'b', 'a'}
{'i', 'h', 'f', 'g', 'e'}

In [31]:
# symmetric differe

print(set_4.symmetric_difference(set_5))

{'i', 'h', 'f', 'g', 'a', 'b', 'e'}

In [38]:
# Aggrigate function (min(),max(), and sum() functions)

A = [1,1,2,2,3,3,4,4,5,5,6,6]
B= {1,1,2,2,3,3,4,4,5,5,6,6}   # 1,2,3,4,5,6 = 21
print('The minimum number of a is:',min(A))
print('The minimum number of b is:',min(B))
print('The maximum number of a is:',max(A))
print('The maximum number of b is:',max(B))
print('The sum of number of a is:',sum(A))
print('The sum of number of b is:',sum(B))
print('The lenght of the number a is:',len(A))
print('The lenght of the number b is:',len(B))

The minimum number of a is: 1
The minimum number of b is: 1
The maximum number of a is: 6
The maximum number of b is: 6
The sum of number of a is: 42
The sum of number of b is: 21
The lenght of the number a is: 12
The lenght of the number b is: 6

# No mutable sequence in a set

In [39]:
set6={'Python',1,2,3,4,[1,2,3]}
set6

TypeError: unhashable type: 'list'

# index() function
 * __This function does not work in set since the set is unordered collections.__

In [40]:
set7={1,2,3}
set7[0]

TypeError: 'set' object is not subscriptable

# clear() function

 * __It removes all elements in the set and then do the set empty.__

In [42]:
x={0,1,1,2,3,5,8,13,21,34}
print(x)
x.clear()
print(x)

{0, 1, 2, 3, 34, 5, 8, 13, 21}
set()

# pop() function

 * __It removes and return an arbitrary set element.__

In [43]:
x={0,1,1,2,3,5,8,13,21,34}
print(x)

{0, 1, 2, 3, 34, 5, 8, 13, 21}

In [44]:
x.pop()

0