# 8. Loops in Python

 * __A for loop is used for iteratting over a sequence (that is either a list, a tuple, a dictionary, a set or a string).__
 * __This is less like the for keyword in other programming languages, and workd more like an iterator method as found in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a alist, tuple,set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __Note: remember to incremenet i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.__

# range() function
 * __It is helpful to think of the range obejct as an ordered list.__
 * __To loop through a set of code a specified number of times, we can use the range() functions.__
 * __The range() funciton returns a sequence of numbers, starting from 0 by default, and incremnts by 1 (by default), and ends at a specified number.__

 * __There are two types of loop__
 * __1.for loop__
    * __1.Break()__
    * __2.Continue()__
 * __2.While loop__
    * __1.Break()__
    * __2.Continue()__

In [1]:
range(10)   # n-1=11=10

range(0, 10)

In [2]:
range(10,20)   # 10,11.............19

range(10, 20)

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for x in range(10,20):   #1-incremented.
    print(x)

10
11
12
13
14
15
16
17
18
19

In [7]:
list1=[2005,2006,2007,2008,2009,2010]

for year in list1:
    print(year)

2005
2006
2007
2008
2009
2010

In [12]:
list1=[2005,2006,2007,2008,2009,2010]

for year in range(len(list1)):
    print(year,'-',list1[year])

0 - 2005
1 - 2006
2 - 2007
3 - 2008
4 - 2009
5 - 2010

In [14]:
# odd number from -10

for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [17]:
# 

for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [18]:
languages=['Python','Java',"javaScript","C","C++","PHP"]

for i in languages:
    print(i)

Python
Java
javaScript
C
C++
PHP

In [20]:
for x in range(len(languages)):
    print(x,languages[x])

0 Python
1 Java
2 javaScript
3 C
4 C++
5 PHP

In [22]:
for x in range(len(languages)):
    if languages[x]=='C' or languages[x]=="C++":
        print(x,languages[x])

3 C
4 C++

In [24]:
# Take range from -3,20 and display

for i in range(-3,21):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [28]:
# wap to generate table of 13
# 13X1=13
# 13X2=26
# ........
num=13
for i in range(1,11):
    print(num,'X',i,'=', num*i)

13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130

In [29]:
# wap to generate table of 13
# 13X1=13
# 13X2=26
# ........
num=13
for i in range(1,11):
    print("%dX%d=%d"%(num,i,num*i))

13X1=13
13X2=26
13X3=39
13X4=52
13X5=65
13X6=78
13X7=91
13X8=104
13X9=117
13X10=130

In [30]:
# wap to generate table of 13
# 13X1=13
# 13X2=26
# ........
num=13
for i in range(1,11):
    print("{}X{}={}".format(num,i,num*i))

13X1=13
13X2=26
13X3=39
13X4=52
13X5=65
13X6=78
13X7=91
13X8=104
13X9=117
13X10=130

In [32]:
for i in range(1,11):
    print(f"{num}X{i}={num*i}")

13X1=13
13X2=26
13X3=39
13X4=52
13X5=65
13X6=78
13X7=91
13X8=104
13X9=117
13X10=130

In [34]:
num=int(input('Enter any value:'))
for i in range(1,11):
    print(f"{num}X{i}={num*i}")

Enter any value: 19

19X1=19
19X2=38
19X3=57
19X4=76
19X5=95
19X6=114
19X7=133
19X8=152
19X9=171
19X10=190

# for-else statement

In [36]:
for i in range(1,6):
    print(i)

else:
    print('These are the value for 1 to 5')

1
2
3
4
5
These are the value for 1 to 5

# for loop of break

In [43]:
# 1-10 natural number

for i in range(1,11):
    print(i)
    if i==5:
        break

1
2
3
4
5

# continue the loop

In [45]:
for i in range(10,21):
    if i==15:
        continue
    print(i)

10
11
12
13
14
16
17
18
19
20

# while loop in python

In [46]:
# print natural number from 1-10:
i=1

while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [50]:
# even number find from range (1-10) using while

i=0
while i<=10:
    print(i)
    i+=2

0
2
4
6
8
10

In [51]:
i=1
while i<=10:
    print(i)
    i+=2

1
3
5
7
9

In [55]:
# print table of 13
num=13
i=1
while i<=10:
    print(num,'x',i,'=',num*i)
    i+=1

13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

In [56]:
num=13
i=1
while i<=10:
    print("%dX%d=%d"%(num,i,num*i))
    i+=1

13X1=13
13X2=26
13X3=39
13X4=52
13X5=65
13X6=78
13X7=91
13X8=104
13X9=117
13X10=130

In [57]:
num=13
i=1
while i<=10:
    print(f"{num}X{i}={num*i}")
    i+=1

13X1=13
13X2=26
13X3=39
13X4=52
13X5=65
13X6=78
13X7=91
13X8=104
13X9=117
13X10=130

In [61]:
num=int(input('Enter any value:'))
i=1
while i<=10:
    print("{}X{}={}".format(num,i,num*i))
    i+=1

Enter any value: 20

20X1=20
20X2=40
20X3=60
20X4=80
20X5=100
20X6=120
20X7=140
20X8=160
20X9=180
20X10=200

# while-else statement

In [63]:
# natural number from 1-10
i=1
while i<=10:
    print(i)
    i+=1

else:
    print('These are the values from 1to10')

1
2
3
4
5
6
7
8
9
10
These are the values from 1to10

# break in while loop

In [65]:
i=1
while i<=10:
    print(i)
    i+=1
    if i==5:
        break

1
2
3
4

# Continue in while loop

In [72]:
i=0
while i<=10:
    i+=1
    if i==5:
       continue
    print(i)

1
2
3
4
6
7
8
9
10
11

In [ ]:
# 1. wap to print sum, average, and length of positive and negative value given by the user input range.
# [10,-20,-69,100,200] 

#2. Create a program that takes a year as input and check if it is leap year or not.
#3. Write a python program to check if a given number is even or not.
#4. Given a list of names, print all names starting with the character from "A".
#5. Create a loop that print all even or odd numbers between 1-50.
#6. Given a list of words, count the number of words with more than 5 character.

# 7. Implement a program that prints the multiplication table of a given number.

# 8. calculate the sum of digits of a given number [10,20,30,50,40,18,44,77,89,25,45,36,81]
# 9. calcuate the factorial of a given number.
# 10.